.DS_Store
node_modules
/build
/.svelte-kit
/.space
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*/.env
*__pycache__

py/public
py/requirements.txt
py/langs/data/json
.space