node_modules
build
.netlify
.vercel
.next

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml

src/db/migrations
src/db/scripts/out/
src/db/scripts/backup/

src/tools/lipi_lekhika/resources
src/db/migrations