@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(210 40% 98.0392%);
  --foreground: hsl(217.2414 32.5843% 17.451%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(217.2414 32.5843% 17.451%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(217.2414 32.5843% 17.451%);
  --primary: hsl(238.7324 83.5294% 66.6667%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(220 13.0435% 90.9804%);
  --secondary-foreground: hsl(216.9231 19.1176% 26.6667%);
  --muted: hsl(220 14.2857% 95.8824%);
  --muted-foreground: hsl(220 8.9362% 46.0784%);
  --accent: hsl(226.4516 100% 93.9216%);
  --accent-foreground: hsl(216.9231 19.1176% 26.6667%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(216 12.1951% 83.9216%);
  --input: hsl(216 12.1951% 83.9216%);
  --ring: hsl(238.7324 83.5294% 66.6667%);
  --chart-1: hsl(238.7324 83.5294% 66.6667%);
  --chart-2: hsl(243.3962 75.3555% 58.6275%);
  --chart-3: hsl(244.5205 57.9365% 50.5882%);
  --chart-4: hsl(243.6522 54.5024% 41.3725%);
  --chart-5: hsl(242.1687 47.4286% 34.3137%);
  --sidebar: hsl(220 14.2857% 95.8824%);
  --sidebar-foreground: hsl(217.2414 32.5843% 17.451%);
  --sidebar-primary: hsl(238.7324 83.5294% 66.6667%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(226.4516 100% 93.9216%);
  --sidebar-accent-foreground: hsl(216.9231 19.1176% 26.6667%);
  --sidebar-border: hsl(216 12.1951% 83.9216%);
  --sidebar-ring: hsl(238.7324 83.5294% 66.6667%);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(222.2222 47.3684% 11.1765%);
  --foreground: hsl(214.2857 31.8182% 91.3725%);
  --card: hsl(217.2414 32.5843% 17.451%);
  --card-foreground: hsl(214.2857 31.8182% 91.3725%);
  --popover: hsl(217.2414 32.5843% 17.451%);
  --popover-foreground: hsl(214.2857 31.8182% 91.3725%);
  --primary: hsl(234.4538 89.4737% 73.9216%);
  --primary-foreground: hsl(222.2222 47.3684% 11.1765%);
  --secondary: hsl(217.7778 23.0769% 22.9412%);
  --secondary-foreground: hsl(216 12.1951% 83.9216%);
  --muted: hsl(217.2414 32.5843% 17.451%);
  --muted-foreground: hsl(217.8947 10.6145% 64.902%);
  --accent: hsl(216.9231 19.1176% 26.6667%);
  --accent-foreground: hsl(216 12.1951% 83.9216%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(222.2222 47.3684% 11.1765%);
  --border: hsl(215 13.7931% 34.1176%);
  --input: hsl(215 13.7931% 34.1176%);
  --ring: hsl(234.4538 89.4737% 73.9216%);
  --chart-1: hsl(234.4538 89.4737% 73.9216%);
  --chart-2: hsl(238.7324 83.5294% 66.6667%);
  --chart-3: hsl(243.3962 75.3555% 58.6275%);
  --chart-4: hsl(244.5205 57.9365% 50.5882%);
  --chart-5: hsl(243.6522 54.5024% 41.3725%);
  --sidebar: hsl(217.2414 32.5843% 17.451%);
  --sidebar-foreground: hsl(214.2857 31.8182% 91.3725%);
  --sidebar-primary: hsl(234.4538 89.4737% 73.9216%);
  --sidebar-primary-foreground: hsl(222.2222 47.3684% 11.1765%);
  --sidebar-accent: hsl(216.9231 19.1176% 26.6667%);
  --sidebar-accent-foreground: hsl(216 12.1951% 83.9216%);
  --sidebar-border: hsl(215 13.7931% 34.1176%);
  --sidebar-ring: hsl(234.4538 89.4737% 73.9216%);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-slate-100 text-foreground dark:bg-slate-900;
  }
}
