/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nirmala UI';
    @apply select-none;
  }

  button {
    @apply cursor-default sm:cursor-pointer;
  }

  svg {
    @apply inline-block;
  }
}
.cursor-button {
  @apply cursor-default sm:cursor-pointer;
}
