[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
deta = "*"
bcrypt = "*"
cryptography = "*"
python-multipart = "*"
python-jose = {version = "*", extras = ["cryptography"]}
strawberry-graphql = {version = "*", extras = ["fastapi"]}
brotli-asgi = "*"
uvicorn = "*"
brotli = "*"

[dev-packages]
shubhlipi = "*"
pyyaml = "*"
python-dotenv = "*"
black = "*"
datamodel-code-generator = "*"

[requires]
python_version = "3"
# Prefer python >= 3.7
